<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="f44ddd73-9afd-44fb-bcf1-2744ea488b35" Publisher="CN=Gilberto" Version="1.0.0.0" />
  <Properties>
    <DisplayName>WindowsStoreSockets</DisplayName>
    <PublisherDisplayName>Gilberto</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="WindowsStoreSockets.App">
      <VisualElements DisplayName="Windows Store Sockets" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="WindowsStoreSockets" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
  </Capabilities>
</Package>